.body5 {
  display: block;
}

.you_H {
  margin-top: 170px;
  margin-left: 300px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}
.we_H {
  margin-left: 290px;
  margin-top: 14px;
  font-family: Roboto;
  font-size: 51px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
}
.add1D {
  display: flex;
  justify-content: center;
  margin-left: 340px;
  margin-top: 20px;
}
.add1p {
  padding-left: 220px;
}
.addW {
  margin-left: 570px;
  background: rgba(0, 0, 0, 0.12);
  height: 1px;
  width: 720.375px;
}

.startF {
  background-color: rgba(31, 30, 30, 1);
  color: #fff;
  width: 160px;
  height: 42px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin-left: 1130px;
  margin-top: 10px;
  font-family: Roboto;
  font-size: 11px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
}
.startDB {
  display: block;
}
.trialD {
  text-align: right;
  margin-right: 240px;
  margin-top: 5px;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
}
.followS {
  font-family: Roboto;
  font-size: 56px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: center;
}
.btnf {
  margin-left: 690px;
  margin-top: 50px;
  height: 42px;
  width: 161px;
  background: #000;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.rectB {
  /* padding-top: 200px; */ 
  padding-top: 190px;
}
.thisIS {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff; 
  margin-top: 20px; 

}

.photosD{
  display: flex; 
  margin-top: 40px; 
  text-align: center; 
  align-items: center; 
  justify-content: center;
}